{% extends "app_main/base.html" %}

{% block meta %}
<title>Diixo - Evaluations</title>
<meta property="og:title" content="Diixo - Evaluations">
<meta name="description" content="Evaluation cards">
<meta property="og:description" content="Evaluation cards">
{% endblock %}

{% block content %}

<h3 class="fw-bold mt-4">Evaluations</h3>
<p class="text-muted">{{ goal }}</p>

<button type="button" class="btn btn-main d-inline-flex align-items-center align-self-start mb-2"
  data-bs-toggle="modal" data-bs-target="#addEvalModal">
  <span class="material-icons me-1">add</span> Add evaluation
</button>



{% endblock %}
